
.pagina{
  width: 120px;
}

.logo{
  width: 60px;
}

.barraNavegacion{
  width: 60px;
}

.subtotal{
  width: 120px;
}

.navegacionSecundaria{
  width: 70px;
}

.idiomas{
  width: 50px;
}

section{
  width: 90px;
}

article{
  width: 90px;
}

.articleGrande{
  width: 90px;
}

.articleMediano{
  width: 50px;
}

.articlePequeño{
  width: 40px;
}

.articlePosits{
  width: 90px;
}

div{
  width: 30px;
}

aside{
  width: 30px;
}

.divLista{
  width: 30px;
}

footer{
  width: 120px;
}
